<div class="board col-12">
  <div class="title">
    <h1>Authentification</h1>
  </div>
  <br>
  <div class="row">
    <div *ngIf="isCo==true">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">User</label>
          <input #userName (keyup)="onLogUserName(userName.value)" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter user">
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input #userPassword (keyup)="onLogUserPassword(userPassword.value)" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" (click)="onCoSubmit()">Submit</button>
      </form>
    </div>
    <div *ngIf="isSign==true">
      <form [formGroup]="sign" class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name</label>
            <input formControlName="firstName" #firstName (keyup)="onSignFirstName(firstName.value)" type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name</label>
            <input #lastName (keyup)="onSingLastName(lastName.value)" type="text" class="form-control" id="validationCustom02" placeholder="Last name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              <input #userName (keyup)="onSingUserName(userName.value)" type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Email</label>
            <input #email (keyup)="onSignEmail(email.value)" type="text" class="form-control" id="validationCustom03" placeholder="Email" required>
            <div class="invalid-feedback">
              Please provide a valid email.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Password</label>
            <input #password (keyup)="onSignPassword(password.value)" type="text" class="form-control" id="validationCustom04" placeholder="Password" required>
            <div class="invalid-feedback">
              Please provide a valid password.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="onSignSubmit()">Submit</button>
      </form>
    </div>
    <div class="auth-div" *ngIf="isForm == true">
      <button class="auth btn btn-primary" (click)="onCo()">Connexion</button>
      <button class="auth btn btn-secondary" (click)="onSign()">Inscription</button>
    </div>
  </div>
</div>
